@import url(header.css);
@import url(main.css);
@import url(technology.css);
@import url(skills.css);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  padding: 0 0 60px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.ui-btn {
  padding: 11px 25px;
  background-color: #0555ff;
  color: #fff;
  border: 2px solid #0555ff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui-btn:hover {
  background-color: transparent;
  color: #0555ff;
}

.ui-btn-solid {
  padding: 11px 25px;
  background-color: #fff;
  color: #0555ff;
  border: none;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3019607843);
          box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.3019607843);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
